<h1>Login</h1>

<form action="/login" method="POST">
  <label for="email">E-mail:</label>
  <input type="email" name="email" id="email" required />
  <br />

  <label for="senha">Senha:</label>
  <input type="password" name="senha" id="senha" required />
  <br />

  <button type="submit">Entrar</button>
  <p>
    Não possui cadastro?
    <a href="/cadastro">Clique aqui</a>
  </p>
</form>